In [2]:
import pandas as pd

In [5]:
#ANS 1
data = [ 4, 8, 15, 16, 23, 42]
data1 = pd.Series(data)
data1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [10]:
#ANS2 
a = [1,2,3,4,5,6,7,8,9,0]
a1 = pd.Series(a)
a1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

In [12]:
#ANS3
d = {'Name':['Alice','Bob','Clair'],'Age': [25,30,27],'Gender':['Female','Male','Female']}

df1 = pd.DataFrame(d)
df1

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Clair   27  Female

In [ ]:
#ANS4
Dataframe is collection of all rows and columns of a particular table. 
it is a 2d labeled structured with different rows and columns, whereas series is equivalent to 
list in pandas, it is an array of single column or row.

in above question,whole table is a dataframe whereas single column such as name or age or gender is a series.

In [ ]:
#ANS 5 
There are many functions which are used to manipulate data in dataframe of pandas, some of the funcitons are 
append,merge,join,concat,drop,dropna,fillna,head,tail,describe,
append- function used to add two different dataframes
merge - this funciton is also used to join different dataframes as in intersection
join and concat also used to add different dataframes
drop - used to delete some rows or columns from dataframes
dropna - used to delete rows or column of those datas's

In [ ]:
#ANS6 
here all three panel,dataframe,series are mutable, they are value mutable but not size mutable. this means
new column can be added or deleted but number of elements in a columns cannot be increased.

In [13]:
#ANS7 dataframe can be made by concatenation multiple series
c1 = pd.Series([2,3,4,5])
c2 = pd.Series([6,7,8,9])
c3 = pd.Series([1,2,6,7])
c4 = pd.concat([c1,c2,c3],axis = 1)

In [14]:
c4

   0  1  2
0  2  6  1
1  3  7  2
2  4  8  6
3  5  9  7

In [15]:
type(c4)

pandas.core.frame.DataFrame